.card{
    height: 30rem;
    width: 35rem;
    margin-left: 27rem;
    margin-top: 5rem;
}
.header{
    background-color: rgb(26, 222, 26);
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}
input{
    outline: auto;
    padding: 2px;
}
label{
    padding: 3rem;
}
button{
    margin-left: 7rem;
}